[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typing-extensions = ">=4.0.0"
pypdf = ">=4.0.0"

[dev-packages]
pytest = ">=7.0.0"
pytest-asyncio = ">=0.21.0"
mypy = ">=1.0.0"
ruff = ">=0.4.0"
python-dotenv = "*"

[pipenv]
path = ".venv"
